/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #fefefe;
    color: #0066cc;
    float: left;
    border: none;
    border-bottom: 1px solid #0066cc;
    outline: none;
    cursor: pointer;
    padding: 14px 49.5px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #f2f2f2;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: #004d99 2.5px solid;
    color: #0066cc;
    font-weight: bolder;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 0px 0px 0px; /*changed*/
    border: 1px solid #ccc;
    border-top: none;
}

.tabTitle{
    margin-left: 4%;
    margin-top: 5px;
}

.tabsFooter{
    padding: 12px 16px;
    border-top: 1px solid #bcbcbc;
    color: white;
}

/*Fade in tabs*/
.tabcontent {
    animation: fadeEffect 1.5s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}